<div class="home-container">
  <h1>Sistema de Análise de Dados</h1>

  <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner"></div>
    <span>Carregando...</span>
  </div>

  <div class="buttons-grid">
    <button class="menu-button" (click)="navegarParaTelaCcm()">
      <i class="fas fa-file-invoice"></i>
      <span>CCM</span>
    </button>
    <button class="menu-button" (click)="navegarParaTelaRescisao()">
      <i class="fas fa-file-contract"></i>
      <span>Rescisão</span>
    </button>
  </div>
  <div class="buttons-grid">
    <button class="menu-button" (click)="navegarParaTelaWellhub()">
      <i class="fas fa-file-invoice"></i>
      <span>Wellhub</span>
    </button>
  </div>

  <footer class="footer">
    <p>© 2025 WTM - Todos os direitos reservados</p>
    <p class="version">Versão {{ versao }}</p>
  </footer>
</div>
