<div class="home-container">
  <h1>Gestão de Benefícios</h1>

  <div class="buttons-grid">
    <button class="menu-button" (click)="navegarParaTelaRecisao()">
      <i class="fas fa-file-arrow-down"></i>
      <span>Análise de Rescisão</span>
    </button>

    <button class="menu-button" disabled>
      <i class="fas fa-file-arrow-down"></i>
      <span>Em breve</span>
    </button>

    <button class="menu-button" disabled>
      <i class="fas fa-file-arrow-down"></i>
      <span>Em breve</span>
    </button>

    <button class="menu-button" disabled>
      <i class="fas fa-file-arrow-down"></i>
      <span>Em breve</span>
    </button>

    <button class="menu-button" disabled>
      <i class="fas fa-file-arrow-down"></i>
      <span>Em breve</span>
    </button>
  </div>
</div>
